<div class="form-container">
    {{ form_start(form, {
        'attr': {
            'class': 'd-flex flex-column align-items-center'
        }
    }) }}
    <div class="form-floating mb-3 w-100">
        {{ form_widget(form.name, {
            'attr': {
                'class': 'form-control',
                'placeholder': 'name'
            }
        }) }}
        {{ form_label(form.name) }}
    </div>
    <div class="form-floating mb-3 w-100">
        {{ form_widget(form.code, {
            'attr': {
                'class': 'form-control',
                'placeholder': 'code'
            }
        }) }}
        {{ form_label(form.code) }}
    </div>
    <div class="form-floating mb-3 w-100">
        {{ form_widget(form.flag, {
            'attr': {
                'class': 'form-control',
                'placeholder': 'flag'
            }
        }) }}
        {{ form_label(form.flag) }}
    </div>
    <div class="w-100">
        {{ form_label(form.continent) }}
        {{ form_widget(form.continent, {
            'attr': {
                'class': 'form-select',
                'placeholder': 'continent'
            }
        }) }}
    </div>
    <div class="w-100">
        {{ form_label(form.user) }}
        {{ form_widget(form.user, {
            'attr': {
                'class': 'form-select'
            }
        }) }}
    </div>
    <div class="form-outline w-100">
        {{ form_label(form.initLife) }}
        {{ form_widget(form.initLife, {
            'attr': {
                'class': 'form-control'
            }
        }) }}
    </div>
    <div class="form-outline w-100">
        {{ form_label(form.life) }}
        {{ form_widget(form.life, {
            'attr': {
                'class': 'form-control'
            }
        }) }}
    </div>
    <div class="form-outline w-100">
        {{ form_label(form.lifeMax) }}
        {{ form_widget(form.lifeMax, {
            'attr': {
                'class': 'form-control'
            }
        }) }}
    </div>
    <div class="form-outline w-100">
        {{ form_label(form.shield) }}
        {{ form_widget(form.shield, {
            'attr': {
                'class': 'form-control'
            }
        }) }}
    </div>
    <div class="form-outline w-100">
        {{ form_label(form.shieldMax) }}
        {{ form_widget(form.shieldMax, {
            'attr': {
                'class': 'form-control'
            }
        }) }}
    </div>
    <div class="form-outline w-100">
        {{ form_label(form.initPrice) }}
        {{ form_widget(form.initPrice, {
            'attr': {
                'class': 'form-control'
            }
        }) }}
    </div>
    <div class="form-outline w-100">
        {{ form_label(form.claimDate) }}
        {{ form_widget(form.claimDate, {
            'attr': {
                'class': 'form-control'
            }
        }) }}
    </div>
    <div class="form-outline w-100">
        {{ form_label(form.ownedAt) }}
        {{ form_widget(form.ownedAt, {
            'attr': {
                'class': 'form-control'
            }
        }) }}
    </div>
    <h3>Effects</h3>
    <div class="w-100 effects"
         data-index="{{ form.effects|length > 0 ? form.effects|last.vars.name + 1 : 0 }}"
         data-prototype="{{ form_widget(form.effects.vars.prototype)|e('html_attr') }}"
    >
        {% for effect in form.effects %}
            <div class="d-flex w-100 mb-3 effect">
                <div class="form-floating me-1 w-100">
                    {{ form_widget(effect.value, {
                        'attr': {
                            'class': 'form-control',
                            'placeholder': 'value'
                        }
                    }) }}
                    {{ form_label(effect.value) }}
                </div>
                <div class="me-1 w-100">
                    {{ form_widget(effect.type, {
                        'attr': {
                            'class': 'form-select p-3'
                        }
                    }) }}
                </div>
            </div>
        {% endfor %}
    </div>
    <button type="button" class="add_item_link btn btn-primary" data-collection-holder-class="effects">Add Effect</button>
    <button class="btn btn-success my-3">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
</div>
