{% extends 'base.html.twig' %}

{% block title %}Country{% endblock %}

{% block body %}
    <div class="d-flex flex-column align-items-center w-75 mx-auto">

        <h1>Country</h1>

        <table class="table table-striped border">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ country.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ country.name }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ country.code }}</td>
            </tr>
            <tr>
                <th>Flag</th>
                <td><img crossorigin="anonymous" class="representation-image" src="{{ country.flag }}"></td>
            </tr>
            <tr>
                <th>Continent</th>
                <td>{{ country.continent }}</td>
            </tr>
            <tr>
                <th>InitLife</th>
                <td>{{ country.initLife }}</td>
            </tr>
            <tr>
                <th>Life</th>
                <td>{{ country.life }}</td>
            </tr>
            <tr>
                <th>LifeMax</th>
                <td>{{ country.lifeMax }}</td>
            </tr>
            <tr>
                <th>Shield</th>
                <td>{{ country.shield }}</td>
            </tr>
            <tr>
                <th>ShieldMax</th>
                <td>{{ country.shieldMax }}</td>
            </tr>
            <tr>
                <th>InitPrice</th>
                <td>{{ country.initPrice }}</td>
            </tr>
            <tr>
                <th>ClaimDate</th>
                <td>{{ country.claimDate ? country.claimDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>OwnedAt</th>
                <td>{{ country.ownedAt ? country.ownedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Effects</th>
                <td>
                    <table class="table table-striped border">
                        <thead>
                        <tr>
                            <th>Type</th>
                            <th>Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for effect in effects %}
                            <tr>
                                <td>{{ effect.type }}</td>
                                <td>{{ effect.value }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="d-flex">
            <a class="btn btn-primary" href="{{ path('app_country_index') }}">Back to list of countries</a>
            <a class="btn btn-success mx-1" href="{{ path('app_country_edit', {'id': country.id}) }}">Edit</a>
            {{ include('country/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
