<div class="form-container">
    {{ form_start(form, {
        'attr': {
            'class': 'd-flex flex-column align-items-center'
        }
    }) }}    <div class="form-floating mb-3 w-100">
        {{ form_widget(form.description, {
            'attr': {
                'class': 'form-control',
                'placeholder': 'description'
            }
        }) }}
        {{ form_label(form.description) }}
    </div>
    <div class="w-100">
        {{ form_label(form.label) }}
        {{ form_widget(form.label, {
            'attr': {
                'class': 'form-select'
            }
        }) }}
    </div>
    <div class="form-outline w-100">
        {{ form_label(form.difficulty) }}
        {{ form_widget(form.difficulty, {
            'attr': {
                'class': 'form-control'
            }
        }) }}
    </div>
    <button class="btn btn-success my-3">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
</div>