{% extends 'base.html.twig' %}

{% block title %}Level{% endblock %}

{% block body %}
    <h1>Level</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ level.id }}</td>
            </tr>
            <tr>
                <th>Difficulty</th>
                <td>{{ level.difficulty }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ level.label }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ level.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_level_index') }}">back to list</a>

    <a href="{{ path('app_level_edit', {'id': level.id}) }}">edit</a>

    {{ include('level/_delete_form.html.twig') }}
{% endblock %}
