{% block body %}
    <div class="card store-page-card">
        <img src="{{ store_item_saved.itemType.img }}" class="card-img-top" alt="{{ store_item_saved.itemType.name }}">
        <div class="card-body">
            <h5 class="card-title">{{ store_item_saved.itemType.name }}</h5>
            <p class="card-text">{{ store_item_saved.itemType.description }}</p>
            <div class="buttons">
{#                {{ include('store_item/edit.html.twig') }}#}
                {{ include('store_item/_delete_form.html.twig') }}
            </div>
        </div>
        {% if store_item_saved.trending %}
            <div class="trend">
                <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" x="0" y="0" viewBox="0 0 512 512"
                     xml:space="preserve" class="">
                <g>
                    <path fill="#ec6264"
                          d="M403.292 220.654c-84.864-101.9-65.523-181.585-52.015-211.21 2.305-5.056-2.243-10.545-7.647-9.253-72.941 17.436-116.201 54.864-141.202 98.138-4.764-21.073-6.401-41.831-6.954-54.8-.244-5.726-7.106-8.516-11.265-4.573C143.244 77.797 75.307 200.974 73.133 323.1c-1.841 103.394 80.728 189.6 184.136 188.891 100.428-.689 181.628-82.314 181.628-182.904 0-40.592-11.478-79.463-35.605-108.433z"
                          data-original="#ec6264"></path>
                    <path fill="#e64649"
                          d="M438.897 329.088c0 100.586-81.198 182.217-181.63 182.907a181.491 181.491 0 0 1-21.016-1.071c91.623-9.962 162.932-87.575 162.932-181.836 0-40.589-11.476-79.467-35.603-108.436-84.494-101.451-65.683-180.898-52.188-210.814 10.044-3.667 20.768-6.902 32.234-9.643 5.408-1.298 9.952 4.193 7.654 9.251-13.516 29.617-32.852 109.312 52.013 211.206 24.128 28.969 35.604 67.848 35.604 108.436z"
                          data-original="#e64649"></path>
                    <path fill="#fcc16d"
                          d="M351.862 359.543c0 52.943-42.919 95.862-95.862 95.862s-95.862-42.919-95.862-95.862c0-43.734 65.412-121.13 88.169-146.733 4.096-4.608 11.29-4.608 15.386 0 22.757 25.603 88.169 102.999 88.169 146.733z"
                          data-original="#fcc16d"></path>
                    <path fill="#fcb44d"
                          d="M351.857 359.54c0 52.94-42.917 95.868-95.857 95.868a96.572 96.572 0 0 1-18.708-1.823c43.978-8.705 77.15-47.501 77.15-94.044 0-37.952-49.273-101.266-77.15-134.066a768.566 768.566 0 0 1 11.013-12.661c4.1-4.615 11.291-4.615 15.391 0 22.756 25.599 88.161 102.995 88.161 146.726z"
                          data-original="#fcb44d"></path>
                </g>
            </svg>
            </div>
        {% endif %}
        <div class="promotion">
            <p>-{{ store_item_saved.promotion }}%</p>
        </div>
    </div>
{% endblock %}
