{% extends 'base.html.twig' %}

{% block title %}City index{% endblock %}

{% block body %}
    <div class="d-flex flex-column align-items-center w-75 mx-auto">
        <h1>List of Cities</h1>

        <a class="btn btn-primary mb-3" href="{{ path('app_city_new') }}">Create new City</a>
        <table class="table table-striped border">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Flag</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for city in cities %}
                <tr>
                    <td>{{ city.id }}</td>
                    <td>{{ city.name }}</td>
                    <td>{{ city.flag }}</td>
                    <td class="align-middle">
                        <div class="h-100 d-flex">
                            <a class="btn btn-primary me-2" href="{{ path('app_city_show', {'id': city.id}) }}">Show</a>
                            <a class="btn btn-success" href="{{ path('app_city_edit', {'id': city.id}) }}">Edit</a>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
