<div class="form-container">
    {{ form_start(form, {
        'attr': {
            'class': 'd-flex flex-column align-items-center'
        }
    }) }}
    <div class="form-outline w-100">
        {{ form_label(form.score) }}
        {{ form_widget(form.score, {
            'attr': {
                'class': 'form-control'
            }
        }) }}
    </div>
    <div class="form-outline w-100">
        {{ form_label(form.createdAt) }}
        {{ form_widget(form.createdAt, {
            'attr': {
                'class': 'form-control'
            }
        }) }}
    </div>
    <div class="form-outline w-100">
        {{ form_label(form.time) }}
        {{ form_widget(form.time, {
            'attr': {
                'class': 'form-control'
            }
        }) }}
    </div>
    <div class="w-100">
        {{ form_label(form.user) }}
        {{ form_widget(form.user, {
            'attr': {
                'class': 'form-select'
            }
        }) }}
    </div>
    <div class="w-100">
        {{ form_label(form.level) }}
        {{ form_widget(form.level, {
            'attr': {
                'class': 'form-select'
            }
        }) }}
    </div>
    <button class="btn btn-success my-3">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
</div>
