{% extends 'base.html.twig' %}

{% block title %}Region index{% endblock %}

{% block body %}
    <div class="d-flex flex-column align-items-center w-75 mx-auto">
        <h1>List of Regions</h1>

        <table class="table table-striped border">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Flag</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for region in regions %}
                <tr>
                    <td>{{ region.id }}</td>
                    <td>{{ region.name }}</td>
                    <td>{{ region.flag }}</td>
                    <td>
                        <a class="btn btn-primary me-2" href="{{ path('app_region_show', {'id': region.id}) }}">show</a>
                        <a class="btn btn-success" href="{{ path('app_region_edit', {'id': region.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="btn btn-primary" href="{{ path('app_region_new') }}">Create new</a>
    </div>
{% endblock %}
