{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <div class="d-flex flex-column align-items-center w-75 mx-auto">
        <h1>List of Users</h1>

        <table class="table table-striped border">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Password</th>
                <th>Coins</th>
                <th>Xp</th>
                <th>Roles</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td class="text-truncate" style="max-width: 200px" >{{ user.password }}</td>
                    <td>{{ user.coins }}</td>
                    <td>{{ user.xp }}</td>
                    <td>{{ user.roles|json_encode() }}</td>
                    <td class="d-flex">
                        <a class="btn btn-primary me-2" href="{{ path('app_user_show', {'id': user.id}) }}">Show</a>
                        <a class="btn btn-success" href="{{ path('app_user_edit', {'id': user.id}) }}">Edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="btn btn-primary" href="{{ path('app_user_new') }}">Create new user</a>
    </div>
{% endblock %}
